# Compare vectors to behavior

In [1]:
import torch
import os
import sys
import numpy as np

sys.path.append('.')
sys.path.append('..')

In [25]:
model_name = "qwen-3-32b"
layer = 32
base_dir = f"/workspace/{model_name}"

In [26]:
default_all_layers = torch.load(f"{base_dir}/roles_240/default_vectors.pt")['activations']['default_1']

In [27]:
role_results = torch.load(f"{base_dir}/roles_240/pca/layer{layer}_mean_pos23.pt", weights_only=False)
trait_results = torch.load(f"{base_dir}/traits_240/pca/layer{layer}_mean_pos-neg50.pt", weights_only=False)

In [28]:
pos_2_vectors = role_results['vectors']['pos_2']
pos_3_vectors = role_results['vectors']['pos_3']
pos_2_roles = role_results['roles']['pos_2']
pos_3_roles = role_results['roles']['pos_3']

combined_vectors = pos_2_vectors + pos_3_vectors
role_vectors = torch.stack(pos_2_vectors + pos_3_vectors).float()
role_labels = pos_2_roles + pos_3_roles
print(role_vectors.shape)

torch.Size([463, 64, 5120])

In [29]:
trait_vectors = torch.stack(trait_results['vectors']['pos_neg_50']).float()
trait_labels = trait_results['traits']['pos_neg_50']

print(trait_vectors.shape)

torch.Size([240, 64, 5120])

In [30]:
import torch.nn.functional as F
import pandas as pd

default_vector = default_all_layers[layer].float()

# Normalize the default vector
default_norm = F.normalize(default_vector.unsqueeze(0), dim=-1)

# Get role vectors at the specified layer and compute cosine similarity
role_vectors_at_layer = role_vectors[:, layer, :]  # Shape: [448, 4608]
role_vectors_norm = F.normalize(role_vectors_at_layer, dim=-1)
role_similarities = (role_vectors_norm @ default_norm.T).squeeze()  # Shape: [448]

# Get trait vectors at the specified layer and compute cosine similarity
trait_vectors_at_layer = trait_vectors[:, layer, :]  # Shape: [239, 4608]
trait_vectors_norm = F.normalize(trait_vectors_at_layer, dim=-1)
trait_similarities = (trait_vectors_norm @ default_norm.T).squeeze()  # Shape: [239]

# Create role type labels (pos_2 or pos_3)
num_pos_2 = len(pos_2_roles)
num_pos_3 = len(pos_3_roles)
role_types = ['pos_2'] * num_pos_2 + ['pos_3'] * num_pos_3

# Build the dataframe
role_df = pd.DataFrame({
    'name': role_labels,
    'label': 'role',
    'role_type': role_types,
    'similarity': role_similarities.numpy()
})

trait_df = pd.DataFrame({
    'name': trait_labels,
    'label': 'trait',
    'role_type': None,
    'similarity': trait_similarities.numpy()
})

df = pd.concat([role_df, trait_df], ignore_index=True)

In [31]:
df[df['role_type'] == 'pos_3'].sort_values(by='similarity', ascending=False).head(50)

             name label role_type  similarity
439     assistant  role     pos_3    0.999252
222       teacher  role     pos_3    0.997390
339   interpreter  role     pos_3    0.996735
302     organizer  role     pos_3    0.996380
420  collaborator  role     pos_3    0.996115
223   synthesizer  role     pos_3    0.996034
279     presenter  role     pos_3    0.995923
210         tutor  role     pos_3    0.995884
319     moderator  role     pos_3    0.995850
322        mentor  role     pos_3    0.995819
340    instructor  role     pos_3    0.995787
414    consultant  role     pos_3    0.995728
356         guide  role     pos_3    0.995551
366    generalist  role     pos_3    0.995501
229    summarizer  role     pos_3    0.995347
323      mediator  role     pos_3    0.995262
451    ambassador  role     pos_3    0.994949
449       analyst  role     pos_3    0.994899
281    pragmatist  role     pos_3    0.994866
261      reporter  role     pos_3    0.994815
336    journalist  role     pos_3    0.994733
257      reviewer  role     pos_3    0.994588
412   coordinator  role     pos_3    0.994575
305      observer  role     pos_3    0.994444
295   peacekeeper  role     pos_3    0.994392
392        doctor  role     pos_3    0.994076
311    negotiator  role     pos_3    0.993921
374   facilitator  role     pos_3    0.993905
332     librarian  role     pos_3    0.993840
265       realist  role     pos_3    0.993834
421         coach  role     pos_3    0.993830
267     publisher  role     pos_3    0.993750
260    researcher  role     pos_3    0.993618
230       student  role     pos_3    0.993325
383      emissary  role     pos_3    0.993322
236    specialist  role     pos_3    0.993144
455      advocate  role     pos_3    0.993079
215       trainer  role     pos_3    0.993001
387        editor  role     pos_3    0.992999
228    supervisor  role     pos_3    0.992961
209     validator  role     pos_3    0.992740
405       curator  role     pos_3    0.992740
231    strategist  role     pos_3    0.992608
379     evaluator  role     pos_3    0.992384
394    dispatcher  role     pos_3    0.992359
286       planner  role     pos_3    0.992347
335         judge  role     pos_3    0.992305
248     scientist  role     pos_3    0.992279
190        writer  role     pos_3    0.992216
274      producer  role     pos_3    0.992084

In [32]:
df[df['role_type'] == 'pos_3'].sort_values(by='similarity', ascending=False).tail(50)

               name label role_type  similarity
212       trickster  role     pos_3    0.950015
351          hermit  role     pos_3    0.949992
227          surfer  role     pos_3    0.949911
269     provocateur  role     pos_3    0.949791
197           whale  role     pos_3    0.949591
348         hoarder  role     pos_3    0.949572
391         dreamer  role     pos_3    0.949171
235          spirit  role     pos_3    0.948857
303          oracle  role     pos_3    0.948512
278            prey  role     pos_3    0.948227
317     mycorrhizal  role     pos_3    0.948038
365           genie  role     pos_3    0.947872
195            wind  role     pos_3    0.947457
440         ascetic  role     pos_3    0.946624
220        teenager  role     pos_3    0.946134
403           cynic  role     pos_3    0.945663
362           golem  role     pos_3    0.945114
450        amnesiac  role     pos_3    0.944805
456      adolescent  role     pos_3    0.944590
390            echo  role     pos_3    0.944258
189          zealot  role     pos_3    0.943997
316          mystic  role     pos_3    0.943612
244          shaman  role     pos_3    0.943289
363           ghost  role     pos_3    0.943257
402       daredevil  role     pos_3    0.942116
408        criminal  role     pos_3    0.941858
271         prophet  role     pos_3    0.940093
194           witch  role     pos_3    0.939856
435            bard  role     pos_3    0.938559
370            fool  role     pos_3    0.938508
258        revenant  role     pos_3    0.938322
213            tree  role     pos_3    0.937001
361          gossip  role     pos_3    0.936491
315      narcissist  role     pos_3    0.935065
200            void  role     pos_3    0.933622
276  procrastinator  role     pos_3    0.931644
208         vampire  role     pos_3    0.931618
337          jester  role     pos_3    0.931146
461       absurdist  role     pos_3    0.930052
400           demon  role     pos_3    0.929802
462      aberration  role     pos_3    0.929466
191          wraith  role     pos_3    0.929365
384        eldritch  role     pos_3    0.926353
418        comedian  role     pos_3    0.919815
287          pirate  role     pos_3    0.918619
333       leviathan  role     pos_3    0.917424
427         caveman  role     pos_3    0.906593
283            poet  role     pos_3    0.904313
217         toddler  role     pos_3    0.896639
342          infant  role     pos_3    0.875675

In [33]:
df.sort_values(by='similarity', ascending=False).to_csv(f"./results/{model_name}/vector_similarity.csv", index=False)